[submodule "external/zenoh_carla_bridge"]
	path = src/external/zenoh_carla_bridge
	url = https://github.com/evshary/zenoh_carla_bridge.git
[submodule "src/autoware_manual_control"]
	path = src/autoware_manual_control
	url = https://github.com/evshary/autoware_manual_control.git
[submodule "src/autoware_launch"]
	path = src/autoware_launch
	url = https://github.com/evshary/autoware_launch.git
