# ROS data
/install/
/build/
/log/

# Compile tools
/rust/
/poetry/
/pyenv/

# Bridge
/bridge_log/
/autoware_log/

# Ignore autoware source code
/autoware/

# Ignore rmw_zenoh
/rmw_zenoh_ws

# Ignore editor files
*~
.*~
\#*#
*.swp
*.swo
